*, *::before, *::after {
    boxing-sizing: border-box;
    font-weight: normal;
}
body {
    paddding: 0px;
    margin: 0;
    background-color: #7fdbda; 

}
.calculator-grid{
    display: grid;
    grid-template-colomn: auto auto auto;
    align-items: center;
    min-height: 100vh;
}