*, *::before, *::after {  
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box; 
}
body{
     display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background: linear-gradient(#3e206d ,#fe91ca); 
    background-color: #be8abf;
}
.calculator-grid{
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4 ,100px);
    grid-template-rows: minmax(120px , auto)repeat(5, 100px);

}
.calculator-grid > button{
    cursor: pointer;
    border: 1px solid #45046a;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    outline: none;
     background-color:  #fe91ca; 
}
.calculator-grid > button:hover{
    background-color: rgba(255, 255 ,255 , 90);
}
.span-two{
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-color: #ffe0f7;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all; 
}
.output .previous-operand {
    color: #3e206d;
    font-size: 1.5em;
}
.output .current-operand {
    color: #45046a;
    font-size: 2.5em;
}
