body
{
background-color: #ffe0f7;
} 
.box
{
background-color:#e36387;
height:400px;
width:310px;
border-radius:20px;
position:relative;
top:80px;
left:40%;
} 
.display
{
 background-color:#222;
width:270px;
position:relative;
left:15px;
top:15px;
height:40px;
} 
.display input
{
position:relative;
left:2px;
top:2px;
height:35px;
color:black; 
background-color:#85a392;
font-size:23px;
text-align:right;
} 
.keys
{
position:relative;
top:15px;
}
.button
{
width:50px;
height:50px;
border:none;
border-radius:8px;
margin-left:17px;
cursor:pointer;
border-top:2px solid transparent;
}
.button.gray
{
color: #6a197d ;
background-color: #c70039;
border-bottom:black 2px solid;
border-top:2px #6f6f6f solid;
}
.button.pink
{
color:black;
background-color:#c70039;
border-bottom:black 2px solid;
}
.button.black
{
color:black;
background-color:303030;
border-bottom:black 2px solid;
border-top:2px 303030 solid;
}
.button.orange
{
color:black;
background-color:FF9933;
border-bottom:black 2px solid;
border-top:2px FF9933 solid;
}
.gray:active
{
border-top:black 2px solid;
border-bottom:2px #6f6f6f solid;
}
.pink:active
{
border-top:black 2px solid;
border-bottom:#ff4561 2px solid;
}
.black:active
{
border-top:black 2px solid;
border-bottom:#303030 2px solid;
}
.orange:active
{
border-top:black 2px solid;
border-bottom:FF9933 2px solid;
}
p
{
line-height:10px;
}